<a href="https://colab.research.google.com/github/ja-yu/python2020/blob/main/Python_%E7%B7%B4%E7%BF%92%E5%AF%A6%E4%BE%8B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.runoob.com/python/python-100-examples.html

Python 练习实例1
```
题目：有四个数字：1、2、3、4，能组成多少个互不相同且无重复数字的三位数？各是多少？
```

In [17]:
# myself test

for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            if(i != j and j != k and k != i):
                print(i, j, k)
                s++  #不提供這種操作
print("共有 %d 個" %s)

SyntaxError: ignored

In [18]:
# myself test

for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            if(i != j and j != k and k != i):
                print(i, j, k)
                s += 1
print("共有 %d 個" %s)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2
共有 48 個

In [15]:
# myself

s = 0  #要歸零
for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            if(i != j and j != k and k != i):
                print(i, j, k)
                s += 1
print("共有 %d 個" %s)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2
共有 24 個

In [68]:
# answer

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            if( i != k ) and (i != j) and (j != k):
                print (i,j,k)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

Python 练习实例2
```
题目：企业发放的奖金根据利润提成。利润(I)低于或等于10万元时，奖金可提10%；
利润高于10万元，低于20万元时，低于10万元的部分按10%提成，高于10万元的部分，可提成7.5%；
20万到40万之间时，高于20万元的部分，可提成5%；
40万到60万之间时高于40万元的部分，可提成3%；
60万到100万之间时，高于60万元的部分，可提成1.5%，高于100万元时，超过100万元的部分按1%提成，
从键盘输入当月利润I，求应发放奖金总数？
```

In [56]:
# myself test

i = eval(input())
bonus = 0
if i <= 100000:
    bonus = i * 0.1
if i > 100000:  # 要有最大範圍限制
    bonus += 100000 * 0.1
    print(100000 * 0.1)
    print(bonus)
    bonus += (i - 100000) * 0.075
    print((i - 100000) * 0.075)
    print(bonus)
    if i > 200000:  # 要有最大範圍限制
        bonus += (i - 200000) * 0.05
        print((i - 200000) * 0.05)
        print(bonus)
        if i > 400000:  # 要有最大範圍限制
            bonus += (i - 400000) * 0.03
            print((i - 400000) * 0.03)
            print(bonus)
            if i > 600000:  # 要有最大範圍限制
                bonus += (i - 600000) * 0.015
                print((i - 600000) * 0.015)
                print(bonus)
                if i > 1000000:  # 要有最大範圍限制
                    bonus += (i - 1000000) * 0.01
                    print((i - 1000000) * 0.01)
                    print(bonus)
print(bonus)

450000
10000.0
10000.0
26250.0
36250.0
12500.0
48750.0
1500.0
50250.0
50250.0

In [59]:
# myself test

i = eval(input())
bonus = 0
if i <= 100000:
    bonus = i * 0.1
if i > 100000:  
  bonus += 100000 * 0.1
  if i > 200000:
    if (i - 200000) > 200000: 
    bonus += 200000 * 0.05  # 400000 - 200000
    else:
    bonus = (i - 200000) * 0.05
      if i > 400000:
        if (i - 400000) > 200000:
          bonus += 200000 * 0.03 # 600000 - 400000
        else:
          bonus = (i - 400000) * 0.5
            if i > 600000:
              if (i - 600000) > 400000:
                bonus += 400000 * 0.015 # 1000000 - 600000
              else:
                bonus = (i - 600000) * 0.015
                  if i > 1000000:  
                    bonus += (i - 1000000) * 0.01
print(bonus)

IndentationError: ignored

```
IndentationError: expected an indented block
縮排錯誤 
```

In [63]:
# myself test

i = eval(input())
bonus = 0
if i <= 100000:
    bonus = i * 0.1
if i > 100000:  
  bonus += 100000 * 0.1
  if i > 200000:
    if (i - 200000) > 200000: 
      bonus += 200000 * 0.05  # 400000 - 200000
    else:
      bonus = (i - 200000) * 0.05
        if i > 400000:
          if (i - 400000) > 200000:
            bonus += 200000 * 0.03 # 600000 - 400000
          else:
            bonus = (i - 400000) * 0.5
              if i > 600000:
                if (i - 600000) > 400000:
                  bonus += 400000 * 0.015 # 1000000 - 600000
                else:
                  bonus = (i - 600000) * 0.015
                    if i > 1000000:  
                      bonus += (i - 1000000) * 0.01
print(bonus)

IndentationError: ignored

```
IndentationError: unexpected indent
縮排錯誤
```

In [80]:
# myself 

i = eval(input())
bonus = 0
if i <= 100000:
  bonus = i * 0.1
  print(i * 0.1)
if i > 100000:
  bonus += 100000 * 0.1  # 低於100000的部分
  print(100000 * 0.1)
  if (i - 100000) > 100000:  # 數值範圍超過200000
    bonus += 100000 * 0.075  # 200000 - 100000
    print(100000 * 0.075)
  else:
    bonus += (i - 100000) * 0.075
    print((i - 100000) * 0.075)
if i > 200000:
  if (i - 200000) > 200000:  # 數值範圍超過400000
    bonus += 200000 * 0.05  # 400000 - 200000
    print(200000 * 0.05)
  else:
    bonus = (i - 200000) * 0.05
    print((i - 200000) * 0.05)
if i > 400000:
  if (i - 400000) > 200000: # 數值範圍超過600000
    bonus += 200000 * 0.03 # 600000 - 400000
    print(200000 * 0.03)
  else:
    bonus += (i - 400000) * 0.03
    print((i - 400000) * 0.03)
if i > 600000:
  if (i - 600000) > 400000: # 數值範圍超過1000000
    bonus += 400000 * 0.015 # 1000000 - 600000
    print(400000 * 0.015)
  else:
    bonus = (i - 600000) * 0.015
    print((i - 600000) * 0.015)
if i > 1000000:  
  bonus += (i - 1000000) * 0.01
  print((i - 1000000) * 0.01)
print(bonus)

1000005
10000.0
7500.0
10000.0
6000.0
6000.0
0.05
39500.05

In [77]:
# answer

#!/usr/bin/python3
 
i = int(input('净利润:'))
arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0
for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print ((i-arr[idx])*rat[idx])
        i=arr[idx]  # 最大範圍限制
print (r)

净利润:1000005
0.05
6000.0
6000.0
10000.0
7500.0
10000.0
39500.05

Python 练习实例3
```
题目：一个整数，它加上100后是一个完全平方数，再加上168又是一个完全平方数，请问该数是多少？
```

In [ ]:
# myself

Python 练习实例4
```
题目：输入某年某月某日，判断这一天是这一年的第几天？
```

In [86]:
# myself test

year, month, day = eval(input())
month_day = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if month == 1:
  print("第 %d 天" %day)
else:
  if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    month_day[1] = 29
  print("第 %d 天" %sum(month_day[ :month - 1]))

2020, 12, 06

SyntaxError: ignored

In [88]:
# myself test

year, month, day = eval(input())
month_day = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if month == 1:
  print("第 %d 天" %day)
else:
  if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    month_day[1] = 29
  print("第 %d 天" %sum(month_day[ :month - 1], day))

2020, 12, 6
第 341 天

```
sum函數
計算總和

sum函數用法
sum(iterable, start)
iterable:要加總的序列
start:序列加總後，要再加的值
```