https://www.runoob.com/python/python-100-examples.html

Python 练习实例1
```
题目：有四个数字：1、2、3、4，能组成多少个互不相同且无重复数字的三位数？各是多少？
```

In [ ]:
# myself test

for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            if(i != j and j != k and k != i):
                print(i, j, k)
                s++  #不提供這種操作
print("共有 %d 個" %s)

SyntaxError: ignored

In [ ]:
# myself test

for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            if(i != j and j != k and k != i):
                print(i, j, k)
                s += 1
print("共有 %d 個" %s)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2
共有 48 個

In [ ]:
# myself

s = 0  #要歸零
for i in range(1, 5):
    for j in range(1, 5):
        for k in range(1, 5):
            if(i != j and j != k and k != i):
                print(i, j, k)
                s += 1
print("共有 %d 個" %s)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2
共有 24 個

In [ ]:
# answer

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,5):
    for j in range(1,5):
        for k in range(1,5):
            if( i != k ) and (i != j) and (j != k):
                print (i,j,k)

1 2 3
1 2 4
1 3 2
1 3 4
1 4 2
1 4 3
2 1 3
2 1 4
2 3 1
2 3 4
2 4 1
2 4 3
3 1 2
3 1 4
3 2 1
3 2 4
3 4 1
3 4 2
4 1 2
4 1 3
4 2 1
4 2 3
4 3 1
4 3 2

Python 练习实例2
```
题目：企业发放的奖金根据利润提成。利润(I)低于或等于10万元时，奖金可提10%；
利润高于10万元，低于20万元时，低于10万元的部分按10%提成，高于10万元的部分，可提成7.5%；
20万到40万之间时，高于20万元的部分，可提成5%；
40万到60万之间时高于40万元的部分，可提成3%；
60万到100万之间时，高于60万元的部分，可提成1.5%，高于100万元时，超过100万元的部分按1%提成，
从键盘输入当月利润I，求应发放奖金总数？
```

In [ ]:
# myself test

i = eval(input())
bonus = 0
if i <= 100000:
    bonus = i * 0.1
if i > 100000:  # 要有最大範圍限制
    bonus += 100000 * 0.1
    print(100000 * 0.1)
    print(bonus)
    bonus += (i - 100000) * 0.075
    print((i - 100000) * 0.075)
    print(bonus)
    if i > 200000:  # 要有最大範圍限制
        bonus += (i - 200000) * 0.05
        print((i - 200000) * 0.05)
        print(bonus)
        if i > 400000:  # 要有最大範圍限制
            bonus += (i - 400000) * 0.03
            print((i - 400000) * 0.03)
            print(bonus)
            if i > 600000:  # 要有最大範圍限制
                bonus += (i - 600000) * 0.015
                print((i - 600000) * 0.015)
                print(bonus)
                if i > 1000000:  # 要有最大範圍限制
                    bonus += (i - 1000000) * 0.01
                    print((i - 1000000) * 0.01)
                    print(bonus)
print(bonus)

450000
10000.0
10000.0
26250.0
36250.0
12500.0
48750.0
1500.0
50250.0
50250.0

In [ ]:
# myself test

i = eval(input())
bonus = 0
if i <= 100000:
    bonus = i * 0.1
if i > 100000:  
  bonus += 100000 * 0.1
  if i > 200000:
    if (i - 200000) > 200000: 
    bonus += 200000 * 0.05  # 400000 - 200000
    else:
    bonus = (i - 200000) * 0.05
      if i > 400000:
        if (i - 400000) > 200000:
          bonus += 200000 * 0.03 # 600000 - 400000
        else:
          bonus = (i - 400000) * 0.5
            if i > 600000:
              if (i - 600000) > 400000:
                bonus += 400000 * 0.015 # 1000000 - 600000
              else:
                bonus = (i - 600000) * 0.015
                  if i > 1000000:  
                    bonus += (i - 1000000) * 0.01
print(bonus)

IndentationError: ignored

```
IndentationError: expected an indented block
縮排錯誤 
```

In [ ]:
# myself test

i = eval(input())
bonus = 0
if i <= 100000:
    bonus = i * 0.1
if i > 100000:  
  bonus += 100000 * 0.1
  if i > 200000:
    if (i - 200000) > 200000: 
      bonus += 200000 * 0.05  # 400000 - 200000
    else:
      bonus = (i - 200000) * 0.05
        if i > 400000:
          if (i - 400000) > 200000:
            bonus += 200000 * 0.03 # 600000 - 400000
          else:
            bonus = (i - 400000) * 0.5
              if i > 600000:
                if (i - 600000) > 400000:
                  bonus += 400000 * 0.015 # 1000000 - 600000
                else:
                  bonus = (i - 600000) * 0.015
                    if i > 1000000:  
                      bonus += (i - 1000000) * 0.01
print(bonus)

IndentationError: ignored

```
IndentationError: unexpected indent
縮排錯誤
```

In [ ]:
# myself 

i = eval(input())
bonus = 0
if i <= 100000:
  bonus = i * 0.1
  print(i * 0.1)
if i > 100000:
  bonus += 100000 * 0.1  # 低於100000的部分
  print(100000 * 0.1)
  if (i - 100000) > 100000:  # 數值範圍超過200000
    bonus += 100000 * 0.075  # 200000 - 100000
    print(100000 * 0.075)
  else:
    bonus += (i - 100000) * 0.075
    print((i - 100000) * 0.075)
if i > 200000:
  if (i - 200000) > 200000:  # 數值範圍超過400000
    bonus += 200000 * 0.05  # 400000 - 200000
    print(200000 * 0.05)
  else:
    bonus = (i - 200000) * 0.05
    print((i - 200000) * 0.05)
if i > 400000:
  if (i - 400000) > 200000: # 數值範圍超過600000
    bonus += 200000 * 0.03 # 600000 - 400000
    print(200000 * 0.03)
  else:
    bonus += (i - 400000) * 0.03
    print((i - 400000) * 0.03)
if i > 600000:
  if (i - 600000) > 400000: # 數值範圍超過1000000
    bonus += 400000 * 0.015 # 1000000 - 600000
    print(400000 * 0.015)
  else:
    bonus = (i - 600000) * 0.015
    print((i - 600000) * 0.015)
if i > 1000000:  
  bonus += (i - 1000000) * 0.01
  print((i - 1000000) * 0.01)
print(bonus)

1000005
10000.0
7500.0
10000.0
6000.0
6000.0
0.05
39500.05

In [ ]:
# answer

#!/usr/bin/python3
 
i = int(input('净利润:'))
arr = [1000000,600000,400000,200000,100000,0]
rat = [0.01,0.015,0.03,0.05,0.075,0.1]
r = 0
for idx in range(0,6):
    if i>arr[idx]:
        r+=(i-arr[idx])*rat[idx]
        print ((i-arr[idx])*rat[idx])
        i=arr[idx]  # 最大範圍限制
print (r)

净利润:1000005
0.05
6000.0
6000.0
10000.0
7500.0
10000.0
39500.05

Python 练习实例3
```
题目：一个整数，它加上100后是一个完全平方数，再加上168又是一个完全平方数，请问该数是多少？

程序分析：

假设该数为 x。

1、则：x + 100 = n2, x + 100 + 168 = m2

2、计算等式：m2 - n2 = (m + n)(m - n) = 168

3、设置： m + n = i，m - n = j，i * j =168，i 和 j 至少一个是偶数

4、可得： m = (i + j) / 2， n = (i - j) / 2，i 和 j 要么都是偶数，要么都是奇数。

5、从 3 和 4 推导可知道，i 与 j 均是大于等于 2 的偶数。

6、由于 i * j = 168， j>=2，则 1 < i < 168 / 2 + 1。

7、接下来将 i 的所有数字循环计算即可。
```

In [1]:
# myself

In [ ]:
# answer

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
for i in range(1,85):
    if 168 % i == 0:
        j = 168 / i;
        if  i > j and (i + j) % 2 == 0 and (i - j) % 2 == 0 :
            m = (i + j) / 2
            n = (i - j) / 2
            x = n * n - 100
            print(x)

-99.0
21.0
261.0
1581.0

Python 练习实例4
```
题目：输入某年某月某日，判断这一天是这一年的第几天？
```

In [ ]:
# myself test

year, month, day = eval(input())
month_day = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if month == 1:
  print("第 %d 天" %day)
else:
  if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    month_day[1] = 29
  print("第 %d 天" %sum(month_day[ :month - 1]))

2020, 12, 06

SyntaxError: ignored

```
對於以0開頭的數字，Python「SyntaxError：invalid token」
```

In [ ]:
# myself test

year, month, day = eval(input())
month_day = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if month == 1:
  print("第 %d 天" %day)
else:
  if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    month_day[1] = 29
  print("第 %d 天" %sum(month_day[ :month - 1], day))

2020, 12, 6
第 341 天

```
sum()
計算總和

sum()用法
sum(iterable, start)
iterable:要加總的序列
start:序列加總後，要再加的值
```

Python 练习实例5
```
题目：输入三个整数x,y,z，请把这三个数由小到大输出。
```

In [ ]:
# myself test

x, y, z = input()
sort(x, y, z)

5, 8, 2

ValueError: ignored

```
ValueError: too many values to unpack (expected 3)
輸入或者輸出的參數數量不一致

(expected 3)輸入了3個值
```

In [ ]:
# myself test

x, y, z = input()
a = [x, y, z]
sorted(a)

5, 8, 2

ValueError: ignored

In [ ]:
# myself test

x, y, z = input()
a = [x, y, z]
a.sorted()

5, 8, 2

ValueError: ignored

In [ ]:
# myself test

x, y, z = eval(input())
a = [x, y, z]
a.sorted()

5, 8, 2

AttributeError: ignored

```
AttributeError: 'list' object has no attribute 'sorted'
列表裡面沒有sorted()屬性

sort()是方法
sort()是列表的內建函式，一般不寫參數（取預設值），無返回值，
sort()會改變列表，原地排序，因此無需返回值。
字典、元組、字串不具有sort()方法，如果呼叫將會返回一個異常。

sorted()是函數
sorted()是python的內建函式，該函式不改變原物件，
呼叫時一般只需給出一個參數(引數可以是列表、字典、元組、字串)，其餘參數取預設值，
無論傳遞什麼參數，都將返回一個以列表為容器的返回值，如果是字典將返回鍵的列表。
```

In [ ]:
# myself

x, y, z = eval(input())
a = [x, y, z]
a.sort()
a

5, 8, 2

[2, 5, 8]

In [ ]:
# myself

x, y, z = eval(input())
a = [x, y, z]
sorted(a)

5, 8, 2

[2, 5, 8]

In [ ]:
# myself test
x, y, z = eval(input())
a = [x, y, z]
for i in range(3):
  if a[i] > a[i+1]:
    a[i], a[i+1] = a[i+1], a[i]
print(a)

5, 8, 3

IndexError: ignored

```
IndexError: list index out of range
索引超出了 list 的範圍
```

In [ ]:
# myself test
x, y, z = eval(input())
a = [x, y, z]
for i in range(2):  # 不能只換一次
  if a[i] > a[i+1]: 
    a[i], a[i+1] = a[i+1], a[i]
print(a)

5, 8, 3
[5, 3, 8]

In [ ]:
# myself
x, y, z = eval(input())
a = [x, y, z]

for j in range(2):
  for i in range(2): 
    if a[i] > a[i+1]: 
      a[i], a[i+1] = a[i+1], a[i]
print(a)

5, 8, 3
[3, 5, 8]

In [ ]:
# answer

#!/usr/bin/python3
 
l = []
for i in range(3):
    x = int(input('integer:\n'))
    l.append(x)
l.sort()
print (l)

```
append()
在列表末尾添加元素

append()用法
list.append(obj)
obj 要添加的元素
```

Python 练习实例6
```
题目：斐波那契数列。
又称黄金分割数列，指的是这样一个数列：0、1、1、2、3、5、8、13、21、34、……。

在数学上，费波那契数列是以递归的方法来定义：

F0 = 0    (n=0)
F1 = 1    (n=1)
Fn = F[n-1]+ F[n-2] (n=>2)
```

In [ ]:
# myself test

def F(n):
  a = [0, 1]
  for i in range(2, n):
    a[i] = a[i-1] + a[i-2]  
  print(a)  

F(10)

IndexError: ignored

In [ ]:
# myself test

def F(n):
  a = [0, 1]
  for i in range(2, n):
    a[i] = a[-1] + a[n-2]
    a.append(a[i])
  print(a)  

F(10)

IndexError: ignored

In [ ]:
# myself test

def F(n):
  a = [0, 1]
  for i in range(2, n):
    a.append(a[i] = a[i-1] + a[i-2])
  print(a)  

F(10)

SyntaxError: ignored

In [ ]:
# myself

def F(n):
  a = [0, 1]
  for i in range(2, n):
    a.append(a[i-1] + a[i-2])
  print(a)  

F(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# myself test

def F(n):
  a = []
  a[0] = 0
  a[1] = 1
  for i in range(2, n):
    a.append(a[i-1] + a[i-2])
  print(a)  

F(10)

IndexError: ignored

In [ ]:
# myself

def F(n):
  a = []
  a.append(0)
  a.append(1)
  for i in range(2, n):
    a.append(a[i-1] + a[i-2])
  print(a)  

F(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# answer1

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    a,b = 1,1
    for i in range(n-1):
        a,b = b,a+b
    return a
 
# 输出了第10个斐波那契数列
print (fib(10))

55

```
a, b = b, a+b
1, 2
2, 3
3, 5
5, 8
8, 13
13, 21
21. 34
34, 55
55, 89
```

In [ ]:
# answer2

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
# 使用递归
def fib(n):
    if n==1 or n==2:
        return 1
    return fib(n-1)+fib(n-2)
 
# 输出了第10个斐波那契数列
print (fib(10))

55

In [ ]:
# answer3

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
def fib(n):
    if n == 1:
        return [1]
    if n == 2:
        return [1, 1]
    fibs = [1, 1]
    for i in range(2, n):
        fibs.append(fibs[-1] + fibs[-2])
    return fibs
 
# 输出前 10 个斐波那契数列
print (fib(10))

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

Python 练习实例7
```
题目：将一个列表的数据复制到另一个列表中
```

In [ ]:
# myself test

a[1, 2, 3]
b = a

NameError: ignored

In [ ]:
# myself

a = [1, 2, 3]
b = a
b

[1, 2, 3]

In [ ]:
# answer

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
a = [1, 2, 3]
b = a[:]
print (b)

[1, 2, 3]

Python 练习实例8
```
题目：输出 9*9 乘法口诀表。
```

In [ ]:
# myself test

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %d" %i, j, i*j)

TypeError: ignored

In [ ]:
# myself test

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %d" %i %j %i*j)

TypeError: ignored

In [ ]:
# myself test

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %d" %(i, j, i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# myself test

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %d" %(i, j, i*j), end="")

1 * 1 = 11 * 2 = 21 * 3 = 31 * 4 = 41 * 5 = 51 * 6 = 61 * 7 = 71 * 8 = 81 * 9 = 92 * 1 = 22 * 2 = 42 * 3 = 62 * 4 = 82 * 5 = 102 * 6 = 122 * 7 = 142 * 8 = 162 * 9 = 183 * 1 = 33 * 2 = 63 * 3 = 93 * 4 = 123 * 5 = 153 * 6 = 183 * 7 = 213 * 8 = 243 * 9 = 274 * 1 = 44 * 2 = 84 * 3 = 124 * 4 = 164 * 5 = 204 * 6 = 244 * 7 = 284 * 8 = 324 * 9 = 365 * 1 = 55 * 2 = 105 * 3 = 155 * 4 = 205 * 5 = 255 * 6 = 305 * 7 = 355 * 8 = 405 * 9 = 456 * 1 = 66 * 2 = 126 * 3 = 186 * 4 = 246 * 5 = 306 * 6 = 366 * 7 = 426 * 8 = 486 * 9 = 547 * 1 = 77 * 2 = 147 * 3 = 217 * 4 = 287 * 5 = 357 * 6 = 427 * 7 = 497 * 8 = 567 * 9 = 638 * 1 = 88 * 2 = 168 * 3 = 248 * 4 = 328 * 5 = 408 * 6 = 488 * 7 = 568 * 8 = 648 * 9 = 729 * 1 = 99 * 2 = 189 * 3 = 279 * 4 = 369 * 5 = 459 * 6 = 549 * 7 = 639 * 8 = 729 * 9 = 81

In [ ]:
# myself test

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %d" %(j, i, i*j), end="")
  print(\n)

SyntaxError: ignored

In [ ]:
# myself test

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %d" %(j, i, i*j), end="")
  print("\n")

1 * 1 = 12 * 1 = 23 * 1 = 34 * 1 = 45 * 1 = 56 * 1 = 67 * 1 = 78 * 1 = 89 * 1 = 9

1 * 2 = 22 * 2 = 43 * 2 = 64 * 2 = 85 * 2 = 106 * 2 = 127 * 2 = 148 * 2 = 169 * 2 = 18

1 * 3 = 32 * 3 = 63 * 3 = 94 * 3 = 125 * 3 = 156 * 3 = 187 * 3 = 218 * 3 = 249 * 3 = 27

1 * 4 = 42 * 4 = 83 * 4 = 124 * 4 = 165 * 4 = 206 * 4 = 247 * 4 = 288 * 4 = 329 * 4 = 36

1 * 5 = 52 * 5 = 103 * 5 = 154 * 5 = 205 * 5 = 256 * 5 = 307 * 5 = 358 * 5 = 409 * 5 = 45

1 * 6 = 62 * 6 = 123 * 6 = 184 * 6 = 245 * 6 = 306 * 6 = 367 * 6 = 428 * 6 = 489 * 6 = 54

1 * 7 = 72 * 7 = 143 * 7 = 214 * 7 = 285 * 7 = 356 * 7 = 427 * 7 = 498 * 7 = 569 * 7 = 63

1 * 8 = 82 * 8 = 163 * 8 = 244 * 8 = 325 * 8 = 406 * 8 = 487 * 8 = 568 * 8 = 649 * 8 = 72

1 * 9 = 92 * 9 = 183 * 9 = 274 * 9 = 365 * 9 = 456 * 9 = 547 * 9 = 638 * 9 = 729 * 9 = 81

In [ ]:
# myself

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %2d " %(j, i, (i*j)), end="")
  print("\n")

1 * 1 =  1 2 * 1 =  2 3 * 1 =  3 4 * 1 =  4 5 * 1 =  5 6 * 1 =  6 7 * 1 =  7 8 * 1 =  8 9 * 1 =  9

1 * 2 =  2 2 * 2 =  4 3 * 2 =  6 4 * 2 =  8 5 * 2 = 10 6 * 2 = 12 7 * 2 = 14 8 * 2 = 16 9 * 2 = 18

1 * 3 =  3 2 * 3 =  6 3 * 3 =  9 4 * 3 = 12 5 * 3 = 15 6 * 3 = 18 7 * 3 = 21 8 * 3 = 24 9 * 3 = 27

1 * 4 =  4 2 * 4 =  8 3 * 4 = 12 4 * 4 = 16 5 * 4 = 20 6 * 4 = 24 7 * 4 = 28 8 * 4 = 32 9 * 4 = 36

1 * 5 =  5 2 * 5 = 10 3 * 5 = 15 4 * 5 = 20 5 * 5 = 25 6 * 5 = 30 7 * 5 = 35 8 * 5 = 40 9 * 5 = 45

1 * 6 =  6 2 * 6 = 12 3 * 6 = 18 4 * 6 = 24 5 * 6 = 30 6 * 6 = 36 7 * 6 = 42 8 * 6 = 48 9 * 6 = 54

1 * 7 =  7 2 * 7 = 14 3 * 7 = 21 4 * 7 = 28 5 * 7 = 35 6 * 7 = 42 7 * 7 = 49 8 * 7 = 56 9 * 7 = 63

1 * 8 =  8 2 * 8 = 16 3 * 8 = 24 4 * 8 = 32 5 * 8 = 40 6 * 8 = 48 7 * 8 = 56 8 * 8 = 64 9 * 8 = 72

1 * 9 =  9 2 * 9 = 18 3 * 9 = 27 4 * 9 = 36 5 * 9 = 45 6 * 9 = 54 7 * 9 = 63 8 * 9 = 72 9 * 9 = 81

In [ ]:
# myself

for i in range(1, 10):
  for j in range(1, 10):
    print("%d * %d = %2d " %(j, i, (i*j)), end=" ")
  print()

1 * 1 =  1  2 * 1 =  2  3 * 1 =  3  4 * 1 =  4  5 * 1 =  5  6 * 1 =  6  7 * 1 =  7  8 * 1 =  8  9 * 1 =  9
1 * 2 =  2  2 * 2 =  4  3 * 2 =  6  4 * 2 =  8  5 * 2 = 10  6 * 2 = 12  7 * 2 = 14  8 * 2 = 16  9 * 2 = 18
1 * 3 =  3  2 * 3 =  6  3 * 3 =  9  4 * 3 = 12  5 * 3 = 15  6 * 3 = 18  7 * 3 = 21  8 * 3 = 24  9 * 3 = 27
1 * 4 =  4  2 * 4 =  8  3 * 4 = 12  4 * 4 = 16  5 * 4 = 20  6 * 4 = 24  7 * 4 = 28  8 * 4 = 32  9 * 4 = 36
1 * 5 =  5  2 * 5 = 10  3 * 5 = 15  4 * 5 = 20  5 * 5 = 25  6 * 5 = 30  7 * 5 = 35  8 * 5 = 40  9 * 5 = 45
1 * 6 =  6  2 * 6 = 12  3 * 6 = 18  4 * 6 = 24  5 * 6 = 30  6 * 6 = 36  7 * 6 = 42  8 * 6 = 48  9 * 6 = 54
1 * 7 =  7  2 * 7 = 14  3 * 7 = 21  4 * 7 = 28  5 * 7 = 35  6 * 7 = 42  7 * 7 = 49  8 * 7 = 56  9 * 7 = 63
1 * 8 =  8  2 * 8 = 16  3 * 8 = 24  4 * 8 = 32  5 * 8 = 40  6 * 8 = 48  7 * 8 = 56  8 * 8 = 64  9 * 8 = 72
1 * 9 =  9  2 * 9 = 18  3 * 9 = 27  4 * 9 = 36  5 * 9 = 45  6 * 9 = 54  7 * 9 = 63  8 * 9 = 72  9 * 9 = 81

In [ ]:
# answer

#!/usr/bin/python3
 
for i in range(1, 10):
    print() 
    for j in range(1, i+1):
        print ("%d*%d=%d" % (i, j, i*j), end=" " )

1*1=1
2*1=2 2*2=4
3*1=3 3*2=6 3*3=9
4*1=4 4*2=8 4*3=12 4*4=16
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

Python 练习实例9
```
题目：暂停一秒输出。
```

In [ ]:
# myself

import time

a = input()
time.sleep(1)
print(a)

123
123

In [ ]:
# answer

#!/usr/bin/python
# -*- coding: UTF-8 -*-
 
import time
 
myD = {1: 'a', 2: 'b'}
for key, value in dict.items(myD):
    print (key, value)
    time.sleep(1) # 暂停 1 秒

1 a
2 b

Python 练习实例10
```
题目：暂停一秒输出，并格式化当前时间。
```

In [ ]:
# myself test

import time

print(time.strftime(%Y %m %d %H %M %S ,time.localtime()))
time.sleep(1)

SyntaxError: ignored

In [ ]:
# myself

import time

time.sleep(1)
print(time.strftime("%Y-%m-%d %H:%M:%S",time.localtime()))

2020-12-08 05:08:37

In [ ]:
# answer

#!/usr/bin/python
# -*- coding: UTF-8 -*-
import time
 
print (time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))
 
# 暂停一秒
time.sleep(1)
 
print (time.strftime('%Y-%m-%d %H:%M:%S',time.localtime(time.time())))

2020-12-08 05:08:43
2020-12-08 05:08:44